@model IEnumerable<VictuZWebProject.Models.Memberships>

@{
    ViewData["Title"] = "Index";
}

<section class="container py-5">
    <div class="text-center mb-5">
        <h2>Our Pricing Plans</h2>
        <p class="text-muted">Choose a plan that fits your needs.</p>
    </div>

    <div class="row justify-content-center">
        <!-- Basic Plan -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100 text-center">
                <div class="card-header text-white" style="background-color: #808080">
                    <h4>Basic Plan</h4>
                </div>
                <div class="card-body text-start">
                    <h2 class="card-title text-center">Gratis</h2>
                    <p class="text-muted opacity-0">per jaar</p>
                    <ul class="list-unstyled my-4">
                        <li>× Eerder inschrijven voor activiteiten</li>
                        <li>× Toegang tot de shop</li>
                        <li>× Lol</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a asp-action="ConfirmFreePlan" class="btn" style="background-color: #808080; color: white;">Kies lidmaatschap</a>
                </div>
            </div>
        </div>

        <!-- Standard Plan -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100 text-center">
                <div class="card-header text-white" style="background-color: #20c997">
                    <h4>Lidmaatschap</h4>
                </div>
                <div class="card-body text-start">
                    <h2 class="card-title text-center">€ 19.99</h2>
                    <p class="text-muted text-center">per jaar</p>
                    <ul class="list-unstyled my-4">
                        <li>✓ Eerder inschrijven voor activiteiten</li>
                        <li>✓ Toegang tot de shop</li>
                        <li>✓ Lol</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a asp-action="Payment" asp-route-plan="Standard" class="btn" style="background-color: #20c997; color: white;">Kies lidmaatschap</a>
                </div>
            </div>
        </div>
    </div>
</section>



