@model IEnumerable<VictuZWebProject.Models.ActivityViewModel>


@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">

        <!-- Big centered banner with picture inside-->
        <section class="py-5 text-center container bg-dark">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light text-white">Welkom bij VictuZ!</h1>

                    <p class="lead text-muted">Verenigde ICT-ers uit Zuyd</p>
                    <p>
                        <a href="#features" style="background-color: #20c997; color: white;"class="btn btn-primary my-2">Learn more</a>
                        <a href="#!" style="background-color: #20c997; color: white;" class="btn btn-secondary my-2">Contact us</a>
                    </p>
                </div>
            </div>
        </section>

        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">Upcoming activities</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col-md-4">
                                <div class="card mb-4" style="width: 18rem;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        


                            


                            <!-- Date filter form -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"Working with Start Bootstrap templates has saved me tons of development time when building new projects! Starting with a Bootstrap template just makes things easier!"</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                <div class="fw-bold">
                                    Tom Ato
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    CEO, Pomodoro
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blog preview section-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">
                            <h2 class="fw-bolder">From our blog</h2>
                            <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Blog</div>
                                <h5 class="card-title mb-3">Blog post title</h5>
                                <p class="card-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odio beatae ex sequi.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a class="btn btn-outline-primary btn-sm" href="#!">Read more</a>
                                    <small class="text-muted">Mar 12</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Blog</div>
                                <h5 class="card-title mb-3">Blog post title</h5>
                                <p class="card-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odio beatae ex sequi.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a class="btn btn-outline-primary btn-sm" href="#!">Read more</a>
                                    <small class="text-muted">Mar 12</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Blog</div>
                                <h5 class="card-title mb-3">Blog post title</h5>
                                <p class="card-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odio beatae ex sequi.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a class="btn btn-outline-primary btn-sm" href="#!">Read more</a>
                                    <small class="text-muted">Mar 12</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    <!-- Bootstrap core JS-->

    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
