@model VictuZWebProject.Models.CheckoutModel

@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bedankt voor je bestelling!</h2>
<p>Je bestelling is succesvol geplaatst. Je ontvangt een bevestigingsmail.</p>
