@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "E-mail verifiëren";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    
    Tijdelijke e-mail verificatie: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om uw e-mail te verifiëren</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

