@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav flex-column">
    <!-- Profile link -->
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) btn" style="background-color: #20c997; color: white;" id="profile" asp-page="./Index">Profile</a>
    </li>

    <!-- Change email link -->
    <li class="nav-item" style="margin-top: 10px;">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) btn" style="background-color: #20c997; color: white;" id="email" asp-page="./Email">Change Email</a>
    </li>

    <!-- Change password link -->
    <li class="nav-item" style="margin-top: 10px;">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) btn" style="background-color: #20c997; color: white;" id="change-password" asp-page="./ChangePassword">Change Password</a>
    </li>
</ul>
