@model VictuZWebProject.Models.Suggestion

@{
    ViewData["Title"] = "Edit Suggestion";
}

<div class="container d-flex justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center mb-4">Suggestie bewerken</h2>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-floating mb-3">
                        <input asp-for="Title" class="form-control" placeholder="Suggestion Title" />
                        <label asp-for="Title">Titel</label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea asp-for="Body" class="form-control" placeholder="Suggestion Body"></textarea>
                        <label asp-for="Body">Beschrijving</label>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn w-100" style="background-color: #5ac6aa; color: white;">Oplsaan</button>
                    <a asp-action="Index" class="btn btn-secondary w-100 mt-2">Annuleer</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
