@using Microsoft.AspNetCore.Identity
@using VictuZWebProject.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown" style="margin-right: 50px;">
            <button class="btn" style="background-color: #20c997; color: white;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profiel
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item text-dark" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Accountgegevens">Accountgegevens</a>
                </li>
                @* log out button as second drop down item *@
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="dropdown-item btn btn-link text-dark border-0">Uitloggen</button>
                </form>
            </ul>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary"> Account aanvragen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Inloggen</a>
        </li>
    }
</ul>

